.card-item {
    width: 30%; /* Allows three cards to sit next to each other */
    margin-bottom: 1rem;
}

.card-item__label {
    font-weight: bold;
    flex: 1;
    margin-right: 1rem;
}

.card-item__value {
    flex: 2;
}

/* Responsive behavior for small screens */
@media (max-width: 768px) {
    .card-item {
        width: 100%; /* Card item will take the full width on smaller screens */
    }

    .card-item__label, .card-item__value {
        margin-bottom: 0.25rem;
    }
}

/* Cuando hay un solo item 100%*/
.card-item.full-width {
    width: 100%;
}