.ACInfoContainer{
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;

}


.fieldsBigContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newFieldContainer{
    border: 1px red solid;
    display: flex;
    flex-direction: column;

    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    padding: 1rem;
    gap: .3rem;
}

.newFieldHeader{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 1.2rem;
}

.newFieldImgsContainer{
    display: flex;
    flex-direction: row;
    gap: .3rem;
}

.newFieldConfirm, .newFieldCancel{
    height: 48px;
    width: 40px;
    transition: transform 0.1s;
}

.newFieldConfirm:hover, .newFieldCancel:hover{
    transform: scale(1.2);
}

.buttonOneTool2{

    border-radius: 5px;
    background-color: #4898E9;
    /* border: #F0AE19 1px solid; */
    border-style: none;
    font-size: 0.9rem;
    font-weight: 600;
    height: 30px;
    width: 6.5rem;
    color: white;
    transition: background-color 0.15s ease-in;
    font-size: 12px;
    margin-left: 1rem;
}

.buttonOneTool2:hover {
    background-color: #4CAF50;
    transition: background-color 0.15s ease-in;
    
    cursor: pointer;
}

.cardPlantillaAC{

    background-color: #f0f0f0;
    padding: 10px;
    transition: background-color 0.3s; /* Agrega una transición suave */
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cardPlantillaAC:hover {
    background-color: #e0e0e0;
    cursor: pointer;

}

.selected {
    background-color: #3498db; /* Cambia el color de fondo cuando está seleccionado */
    color: #ffffff; /* Cambia el color del texto cuando está seleccionado */
  }

  .selected:hover {
    background-color: #3498db; /* Cambia el color de fondo cuando está seleccionado */
    color: #ffffff; /* Cambia el color del texto cuando está seleccionado */
  }