.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    width: 100%;
    gap: 10px;
}

/* Ensuring that the title takes up the full width */
.project-card__title {
    width: 100%;
    text-align: left;
    display: flex;
    font-size: 1.3rem;
    color: #172B4D;
    font-weight: bolder;
    font-family: Montserrat, serif;
}

.projectCardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    transition: padding-right 0.4s ease-out;

    position: relative
}

.projectCardContainer.delete{
    padding-right: 50px;
}

.cardDeleteIcn{
    width: 40px;
    background-color: red;
    border-radius: 100%;
    opacity: 0;

    transition: opacity 0.5s;
    position: absolute;
    right: 0;
}

.cardDeleteIcn.show{
    opacity: 1;
    transform: scale(1);
    transition: transform 0.1s;
    transition: opacity 0.5s;
}

.cardDeleteIcn.show:hover{
    transform: scale(1.2);
    transition: transform 0.1s;
}