.iconDelete{
    position: absolute;
    right: -3rem;
    top: 50%;
    cursor: pointer;
}

.iconDelete2{
    position: absolute;
    right: -2rem;
    top: 50%;
    cursor: pointer;
}

.paddingTop{
    padding-top: 0.5rem;
}

.custom-label label {
    font-weight: 600; /* Cambia el peso de la fuente a bold (600) */
    font-size: 1rem;
}