.containerBack{
    position: relative;
}


.iconDelete2{
    position: absolute;
    right: -1.8rem;
    top: 50%;
    cursor: pointer;
}

.paddingTop{
    padding-top: 0.5rem;
}

.custom-label label {
    font-weight: 500; /* Cambia el peso de la fuente a bold (600) */
    font-size: 1rem;
}