.iconLabel{
    display: flex;
    align-items: center;
    width: 25%;
    gap: 10%;
    font-weight: 600;
}

.iconLabel2{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10%;
    font-weight: 400;
}
.iconLabel3{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5%;
    font-weight: 600;
    color: red;
}

.iconLabelButton{
    display: flex;
    align-items: center;
    gap: 10%;
    font-weight: 600;
    cursor: pointer;
}

.icono{
    width: 20px;
}

.label{
    flex: 1;
}