.container{
    flex: 1;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    font-family: Montserrat;
}

.backlog{
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr 7fr;
}

.titleBacklog{
    display: flex;
    font-size: 2rem;
    /*align-items: center;*/
    color: #172B4D;
    font-family: Montserrat;
    font-weight: bold;
    padding-top: 10px;
   
}

.navigationBacklog{
    display: flex;
    box-sizing: border-box;
}

.navigationBacklogIzquierda{
    width: 80%;
    display: flex;
    gap: 2.5%;
}

.navigationBacklogDerecha{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.btnBacklog{
    border-radius: 10px;
    background-color: white;
    border: 1px solid #172B4D;
    font-size: 0.8rem;
    font-weight: 600;
    height: 36px;
    width: 150px;
}

.btnBacklogPrimary{
    border-radius: 10px;
    background-color: #F0AE19;
    border: #F0AE19 1px solid;
    font-size: 0.8rem;
    font-weight: 600;
    height: 36px;
    width: 150px;
    color: white;
}