.containerRegisterPB{
    flex: 1;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.headerRegisterPB{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

.backlogRegisterPB{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7,auto);
    gap: 2rem;
}

.titleBacklogRegisterPB{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    color: #172B4D;
    font-weight: 600;
    font-family: Montserrat;
}

.combo{
    display: grid;
    /* grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, auto);  */
    grid-template-columns: repeat(auto-fit,minmax(432px,1fr));
    row-gap: 2rem;
}

.containerCombo{
    display: flex;
    gap: 15%;
    margin-right: 15px;
    align-items: center;    
}
.subcontainerCombo{
    display: flex;
    gap: 5%;
    justify-content: flex-end;
}

.dateOfCreation{
    display: flex;
    align-items: center;
    font-weight: 400;
}

.titleButton{
    display: flex;
    gap: 3%;
}

.buttonTitle{
    border-radius: 10px;
    background-color: #F0AE19;
    border: #F0AE19 1px solid;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    width: 100px;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 1rem 0;
}

.containerBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twoButtons{
    display: flex;
    justify-content: flex-end;
}

.twoButtons1{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.buttonContainer{
    display: flex;
    gap: 10px;
    padding: 1rem;
}

.btnBacklogCancel{
    font-family: Montserrat;
    border-radius: 10px;
    background-color: white;
    border: #172B4D 1px solid;
    font-size: 0.8rem;
    font-weight: 600;
    height: 40px;
    width: 150px;
    color: #172B4D;
    cursor: pointer;
    outline: none;
}

.btnBacklogContinue{
    font-family: Montserrat;
    border-radius: 10px;
    background-color: #172B4D;
    border: #172B4D 1px solid;
    font-size: 0.8rem;
    font-weight: 600;
    height: 40px;
    width: 150px;
    color: white;
    cursor: pointer;
    outline: none;
    /* margin-left: 1rem; */
}

.profilePic{
    
    border-radius: 100%;
    background-color: rgb(212, 212, 212);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconLabel2{
    display: flex;
    align-items: center;
    gap: 10%;
    font-weight: 400;
}

.labelDatoUsuario{
    flex: 1;
}