.button {
    font-family: Montserrat;
    width: 220px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 500;
    align-items: center;


    font-size: 18px;
}

.button:hover {
    background-color: #172B4D;
    color: white;
}