.Fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('/images/LoginBackground.png');
    background-size: cover;
    background-position: center center;
}


.logoProyePucp{

    position: fixed;
    height: auto; /* Mantener la proporción original */
    top: 10px; /* Distancia desde la parte superior */
    left: 10px; /* Distancia desde la parte derecha */
}


.logoPucp {
    position: fixed;
    height: auto; /* Mantener la proporción original */
    width: auto;
    right: 20px; /* Distancia desde la parte derecha */
}

.CuadroLogin{

    position: fixed;
    width: 27%;
    height: 70%;
    top:50%;
    left:50%;
    z-index: -1;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1)

}

.txtInicio {
    font-family: Montserrat;
    font-size: 36px;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    color: #172B4D;
    
}

.txtInicio span {
    display: block;
  }

.inputField {
    position: relative;
    margin: 0 auto;
    margin-bottom: 13.5px;
    text-align: left;
    display: flex;
    width: 60%;
    height: 30px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 3.375px;
    border: 2.25px solid var(--color-border-input, rgba(9, 30, 66, 0.14));
    background: var(--color-background-input-default, #FFF);
}

#correo::placeholder {
    font-size: 16px; /* Tamaño de la fuente */
    font-family: Montserrat; /* Fuente */
    font-weight: 600;
    color: #626F86; /* Color del placeholder */
}

#contrasena::placeholder {
    font-size: 16px; /* Tamaño de la fuente */
    font-family: Montserrat; /* Fuente */
    font-weight: 600;
    color: #626F86; /* Color del placeholder */
}

  .password-container {
    position: relative;
  }
  
  #contrasena {
    padding-right: 10px; /* Espacio para el ícono a la derecha */
  }
  
  #togglePassword {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
#eyeIcon {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 20px; /* Ajusta el tamaño según sea necesario */
  }


.divInicioSesion{

    text-align: center;
}

a:hover {
    color:  #A9D562; /* Cambia el color del texto cuando el mouse está encima */
    text-decoration: none; /* Agrega subrayado al pasar el mouse */
}

a:active {
    color: green; /* Cambia el color del texto cuando se hace clic */
    text-decoration: none;
}

.txtOlvido{

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
    line-height: 50px;
    font-weight: bold;
    color: #A9D562;
    text-decoration: none;
  }

.boton2{
    display: flex;
    flex-grow: 4;
    margin-top: auto;
    justify-content: center;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}


.greeting {
  font-size: 21px;
  margin-bottom: 10px;
  text-align: center;
}

.line {
  width: 100px;
  height: 2px;
  background-color: #BABABA;
  margin: 5px auto;
}

.divRegistrate {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 40px;
}

.txtRegistrate {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
  color: #A9D562;
  text-decoration: none;

}


.sinCuenta{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  margin-left: 45px;

}

.txtsinCuenta{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: lighter;
  color: #000000;
  text-decoration: none;
}