.mainDiv {
    background-color: #f5f5f5;
    height: 100%; /* Cubre toda la altura disponible */
    width: 100%; /* Cubre solo el área adicional debajo de contentDiv */
}

.headerDiv {
    margin: 0% 2% 0% 2%;
    padding: 1%;
}

.divSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchProject {
    font-family: Montserrat;
    font-size: 16px;
    width: 34rem;
    height: 3rem;
    font-weight: 200;
    position: relative;
    margin: 0;
    margin-bottom: 13.5px;
    text-align: left;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 3.375px;
    border: 2.25px solid var(--color-border-input, rgba(9, 30, 66, 0.14));
    background: var(--color-background-input-default, #fff);
}

.searchButton {
    background: none;
    border: none;
    all: unset;
    cursor: pointer;
}



/*Boton añadir nuevo Project*/
.addProjectbtn {
    border-radius: 5px;
    background-color: #f0ae19;
    /* border: #F0AE19 1px solid; */
    border-style: none;
    font-size: 0.9rem;
    font-weight: 600;
    height: 36px;
    width: 160px;
    color: white;
    transition: background-color 0.15s ease-in;
}

.addProjectbtn:hover {
    background-color: #ca9415;
    transition: background-color 0.15s ease-in;
}

.divtextProject {
    margin-left: 0; /* Resetear el margen izquierdo a 0 */
    margin-right: 4rem;
}
.textProject {
    text-decoration: none;
    color: #626f86;
    font-size: 1rem;
    font-weight: 450;
    font-family: Montserrat, serif;
    line-height: 2rem;
}

.textProject2 {
    font-weight: 700;
    font-size: 30px;
    color: #172b4d;
}

.contentDer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    position: relative;
    z-index: 99;
}
.butonAddProject {
    margin-right: 4rem;
}
