.containerRegisterCI{
    flex: 1;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.headerRegisterCI{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

.interesedRegisterCI{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7,auto);
    gap: 2rem;
}

.titleInteresedRegisterCI{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    font-weight: 600;
}

.custom-labelCI label {
    font-weight: 600; /* Cambia el peso de la fuente a bold (600) */
    font-size: 1rem;
}

.comboCI{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(432px,1fr));
    row-gap: 2rem;
}

.containerComboCI{
    display: flex;
    gap: 5%;
    margin-right: 15px;
    align-items: center;
}

.containerInputCI{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    row-gap: 2rem;
    column-gap: 2rem;
}

.titleButtonCI{
    display: flex;
    gap: 3%;
}

.twoButtonsCI{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.buttonContainerCI{
    display: flex;
    gap: 10px;
    padding: 1rem;
}

.buttonTitleCI{
    border-radius: 10px;
    background-color: #F0AE19;
    border: #F0AE19 1px solid;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    width: 100px;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 0.5rem;
}

.buttonTitleCI2{
    border-radius: 10px;
    background-color: #F0AE19;
    border: #F0AE19 1px solid;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    width: 100px;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.containerBottomRI{
    display: flex;
    justify-content: space-between;
    align-items: center;
}