.ListProject .ProjectCard{

    border-radius: 10px;
    background: #FFF;
    
    
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: 250px;
    margin: 10px; /* Ajusta el margen entre los cards */
    flex-shrink: 0;
    margin: 1rem 3rem;

    
    border-radius: 16px;
    overflow: right;
	
}

.ProjectCard{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.ProjectCard:hover{

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    background: #aef3f8d9;
    transform: scale(1.05);
    cursor: pointer;
}

.ListProject .ProjectCard .cardTitleProject{
    font-size: 16px;
    font-family: 'Montserrat';
    padding: 10px 10px 5px 30px;
    font-weight: 600;
    font-style: normal;
    margin-top: 1rem;
}

.divPictures{
    list-style: none;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
    margin: 0.5rem 2rem;

}

.ListProject{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Ajusta el espacio entre los elementos */
    padding: 20px; /* Añade un relleno para separar del borde */
    
}
.cardDates{
    margin-left: 2rem;
    color: #767676;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 177.778% */
}

.memberProfilePicture{
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 5px;


}

.teamTag{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1.3rem;
    border-radius: 5px;
    background-color:#8DFFA6;
    width: 12rem;
    height: 2rem;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 4px;
    text-align: center;
}

.teamTag p {
    font-size: 14px;
    margin: 0;
    color: black;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-family: Montserrat;
  }
