.projectNametxt{

    color: #262626;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 106.667% */
}
.titleTool{

    color: #262626;
    text-align: center;
    font-family: Roboto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 106.667% */
}


.ListToolsUl{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 2rem;



    display: grid;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    
}


.ToolCard {
    border-radius: 4px;
    background: #f2f8f9;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    margin: 2px 2px;
    overflow: right;
    border: 1px solid #f2f8f9;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    display: flex;
    flex-direction: column;
}

.ToolCard:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}

.ToolCard:hover:before {
    transform: scale(2.15);
}


.ToolCard:hover{
    cursor: pointer;
}

.ToolCard.active{

    border-color: #4898E9; /* Borde gris cuando está seleccionada */

}

.ToolCard.active p.titleTool {
    color: #4898E9; /* Cambia el color del texto en hover */
}

.ToolCard.active:hover{
    background: white;
}




.descriptionTool{

    color: #666666;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 160% */
}



.buttonOneTool {
    border-radius: 5px;
    background-color: #4CAF50;
    /* border: #F0AE19 1px solid; */
    border-style: none;
    font-size: 0.9rem;
    font-weight: 600;
    height: 30px;
    width: 6.5rem;
    color: white;
    transition: background-color 0.15s ease-in;
    font-size: 12px;
    margin-left: 1rem;
}

.buttonOneTool2{

    border-radius: 5px;
    background-color: #4898E9;
    /* border: #F0AE19 1px solid; */
    border-style: none;
    font-size: 0.9rem;
    font-weight: 600;
    height: 30px;
    width: 6.5rem;
    color: white;
    transition: background-color 0.15s ease-in;
    font-size: 12px;
    margin-left: 1rem;
}

.buttonOneTool:hover {
    background-color: #4CAF50;
    transition: background-color 0.15s ease-in;
    
    cursor: pointer;
}



.buttonContatinerTool{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
