.participantsContainer::-webkit-scrollbar {
    width: 4px;
    margin-left: 20px;
    border: 1px rgb(65, 65, 65) solid;
    border-radius: 10px;
}

.participantsContainer::-webkit-scrollbar:horizontal {
    height: 8px;
    border: 1px black solid;
}

.participantsContainer::-webkit-scrollbar-thumb{
    @apply bg-mainHeaders rounded-xl;
    
}