.avatar {
    background-image: url('/avatar.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.small {
    width: 24px;
    height: 24px;
}

.medium {
    width: 48px;
    height: 48px;
}

.large {
    width: 96px;
    height: 96px;
}

.xlarge {
    width: 192px;
    height: 192px;
}
