
.crear_equipo {
    flex: 1;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.title {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    color: #172B4D;
    font-weight: 700;
    font-family: Montserrat;
}

.nombreEquipo h3 {
    margin-top: 1rem;
    color: #172B4D;
    font-weight: 650;
}

.liderEquipo p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #555555;
}

.liderEquipo h3 {
    margin-top: 0.5rem;
    color: #172B4D;
    font-weight: 650;
}


.participantes {
    width: 100%;
    margin: 0 auto;
}


.participantes h3 {
    margin-top: 1rem;
    color: #172B4D;
    font-weight: 650;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 2rem;
}

.addTeamBtn {
    border-radius: 5px;
    background-color: #f0ae19;
    /* border: #F0AE19 1px solid; */
    border-style: none;
    font-size: 0.9rem;
    font-weight: 600;
    height: 36px;
    width: 160px;
    color: white;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
}

.iconLabel2CE{
    display: flex;
    align-items: center;
    gap: 5%;
    font-weight: 400;
    font-size: 14px;
    width: 218px;
}

.profilePicCE{
    font-weight: 600;
    border-radius: 100%;
    background-color: rgb(212, 212, 212);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelDatoUsuarioCE{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
}

.twoButtonsCE{
    display: flex;
    justify-content: flex-end;
}

.buttonContainerCE{
    display: flex;
    gap: 10px;
    padding: 1rem;
}

.containerButtonsCE{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100vh; /* Opcional: Asegura que el contenedor ocupe toda la altura de la pantalla */
}

.roles{
    margin-top: 1rem;
    color: #172B4D;
    font-weight: 650;
}
