@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Estilo para el contenedor principal */
.container {
    padding: 0 20px; /* Aplica un padding de 20px a los lados */
    box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño total */
}

/* Estilo para la tarjeta de equipo */
.CardEquipo {
    /*margin: 0 50px 50px 0; /* Margen de 20px en los lados derecho e inferior de cada tarjeta */
    width: calc(33.33% - 20px);
    margin: 0 20px 20px 0;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-hover:hover {
    background-color: #5088e9; /* Cambia el color de fondo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Agrega una transición suave */
    transform: translateY(-5px);
    cursor: pointer;
    color: white;
}

.card-hover:hover .card-text-hover {
    color: white; /* Cambia el color del texto a blanco al hacer hover */
}

/* Estilo para forzar un salto de línea después de cada tercer elemento */
.CardEquipo:nth-child(3n + 1) {
    margin-right: 0; /* No hay margen derecho para el tercer elemento (cada tercer elemento se colocará en una nueva línea) */
}

.container {
    flex: 1;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    font-family: Montserrat;
}

.backlog {
    height: 95%;
    display: grid;
    grid-template-rows: 1.5fr 1fr 7fr;
}

.title {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    color: #172b4d;
    font-weight: 700;
    font-family: Montserrat;
}

.titleAndOptions {
    display: flex; /* Agregamos display: flex al contenedor */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Alinea los elementos a los extremos */
    margin-bottom: 20px; /* Añade margen inferior para separación */
}

/*Boton añadir nuevo Project*/
.buttonAddTeam {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0px;
}

.subtitle {
    color: #313131;
    margin-top: 0px;
    margin-bottom: 0px;
}

.addTeambtn {
    border-radius: 5px;
    background-color: #f0ae19;
    /* border: #F0AE19 1px solid; */
    border-style: none;
    font-size: 0.9rem;
    font-weight: 600;
    height: 36px;
    width: 160px;
    color: white;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
}

.addTeambtn:hover {
    opacity: 0.8;
}

.progressBarContainer {
    width: 100%;
}

.noTeamsMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3.5rem;
}

.noTeamsMessage h2 {
    font-family: Montserrat;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #767676;
}

.littleMessage {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    max-width: 600px;
    word-wrap: break-word;
    text-align: center;
    color: #767676;
}

.wannaCreateOne {
    font-family: Montserrat;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #767676;
}

/* ////////////////////
    Estilos de Modales
    ///////////////////
*/
.modalBackground {
    width: 100%;
    height: 100vh;
    background-color: rgba(
        200,
        200,
        200,
        0.7
    ); /* Cambia el color de fondo y ajusta la opacidad si lo deseas */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9999; /* Asegúrate de que el modal esté por encima de otros elementos */
}

.modalContainer {
    width: 50%;
    max-width: 600px; /* Establece un ancho máximo para evitar que el modal sea demasiado grande */
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modalContainer .title {
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
}

.modalTitle {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0px;
    color: #172b4d;
    font-family: "Montserrat", sans-serif;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    position: relative; /* Asegura que los elementos hijos sean posicionados relativamente al contenedor */
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0; /* Elimina el espacio adicional alrededor del botón */
    line-height: 1; /* Alinea verticalmente el contenido del botón */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; /* Ajusta el tamaño del botón según tus necesidades */
    height: 30px;
    position: absolute;
    top: 0; /* Ajusta la posición vertical según tus necesidades */
    right: 0; /* Ajusta la posición horizontal según tus necesidades */
}

.coordinator {
    font-size: 14px;
    color: #767676;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 20px;
}

.coordinator_card {
    font-size: 14px;
    color: #767676;
    font-weight: 500;
    margin-top: 8px;
}

.member {
    font-size: 15px;
    color: #000000;
    font-weight: 500;
    margin-top: 8px;
}

.memberMail {
    font-size: 12px;
    color: #767676;
    font-weight: 500;
    margin-left: 2px;
    margin-bottom: 5px;
}

.divPictures {
    list-style: none;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
    margin-top: 10px;
}

.membersIcon {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 100%;
    margin-left: 1.5rem;
    font-size: 15px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memberInfo {
    display: flex; /* Hace que los elementos dentro se muestren en línea */
    align-items: center; /* Centra verticalmente los elementos internos */
}

.cardTitle {
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 0px;
    color: #172b4d;
    font-family: "Montserrat", sans-serif;
}

.membersIconContainer {
    display: flex;
    align-items: flex-start;
    gap: 15px; /* Ajusta el espacio horizontal según tus preferencias */
}

.memberDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido a la izquierda */
    gap: 1px; /* Ajusta el espacio vertical entre el nombre y el correo según tus preferencias */
    margin-top: 2px;
    margin-left: 10px;
}
