.ButtonAddNew{
    border-radius: 10px;
    background-color: #F0AE19;
    /* border: #F0AE19 1px solid; */
    border-style: none;
    font-size: 0.8rem;
    font-weight: 600;
    height: 36px;
    width: 150px;
    color: white;
    transition: background-color 0.15s ease-in;

    
}

.ButtonAddNew:hover{
    background-color: #ca9415;
    transition: background-color 0.15s ease-in;
}