 
 /* Container debe ser flex:1 para que funcione este componente, 
    con el padding repetido en todas las pantallas de 2.5rem */
    
#HeaderWithButtons {
    width: 100%; 

    display: flex;
    flex-direction: column;

    font-family: 'Montserrat';
   
}

#HeaderWithButtons #HeaderBreadcrumb{
    color: #5c5b5b;
    font-weight: 400;
}


#HeaderWithButtons #HeaderXbuttonXBackContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#HeaderWithButtons #HeaderXbuttonXBackContainer #HeaderXBackContainer{
    display: flex;
    align-items: center;
    gap: .7rem;


}

#HeaderWithButtons #HeaderXbuttonXBackContainer #HeaderXBackContainer #MainHeader{
    font-weight: 700;
    font-size: 30px;
    color: #172B4D;

}


#HeaderWithButtons #HeaderXbuttonXBackContainer #HeaderXBackContainer #HeaderIconGoBack{
    width: 25px;
    height: 25px;
    object-fit: contain;
    border-radius: 100%;
    background-color: transparent;
    transition: background-color 0.15s ease;

    margin-top: .12rem;

    
}

#HeaderWithButtons #HeaderXbuttonXBackContainer #HeaderXBackContainer #HeaderIconGoBack:hover{
    background-color: rgb(206, 214, 221);
    transition: background-color 0.15s ease;
}
