.containerRegisterCR{
    flex: 1;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.headerRegisterCR{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

.riskRegisterCR{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(8,auto);
    gap: 2rem;
}

.titleRiskRegisterCR{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    color: #172B4D;
    font-weight: 600;
}

.custom-labelCR label {
    font-weight: 600; /* Cambia el peso de la fuente a bold (600) */
    font-size: 1rem;
}

.comboCR{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(432px,1fr));
    row-gap: 2rem;
}

.containerComboCR{
    display: flex;
    gap: 15%;
    margin-right: 15px;
    align-items: center;
}

.iconLabel2CR{
    display: flex;
    align-items: center;
    gap: 5%;
    font-weight: 400;
    font-size: 14px;
    width: 218px;
}

.profilePicCR{
    font-weight: 600;
    border-radius: 100%;
    background-color: rgb(212, 212, 212);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labelDatoUsuarioCR{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
}

.labelSinDataUsuarioCR{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.containerBottomCR{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twoButtonsCR{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.buttonContainerCR{
    display: flex;
    gap: 10px;
    padding: 1rem;
}

.titleButtonCR{
    display: flex;
    gap: 3%;
}

.twoButtonsCR{
    display: flex;
    justify-content: flex-end;
}

.buttonContainerCR{
    display: flex;
    gap: 10px;
    padding: 1rem;
}

.buttonTitleCR{
    border-radius: 10px;
    background-color: #F0AE19;
    border: #F0AE19 1px solid;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    width: 100px;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 1rem 0;
}