.iconLabelButtonMC {
    display: flex;
    align-items: center;
    gap: 10%;
    font-weight: 500;
    cursor: pointer;
    width: 125px;
}

.iconoMC {
    width: 20px;
}

.labelMC {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 600;
}
