.containerRegisterMC{
    flex: 1;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.headerRegisterMC{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

.titleBacklogRegisterMC{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    color: #172B4D;
    font-weight: 600;
}

.backlogRegisterMC{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6,auto);
    gap: 2rem;
}

.custom-label label {
    font-weight: 600; /* Cambia el peso de la fuente a bold (600) */
    font-size: 1rem;
}

.comboMC{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(432px,1fr));
    row-gap: 2rem;
}

.containerComboMC{
    display: flex;
    gap: 15%;
    margin-right: 15px;
}