/* 
    * {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root{
    margin: 0;
    padding: 0;
    width: 100vw;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}
*/

.DashboardNav {
    width: 100%;
    height: 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    box-shadow: 0px 1px 5px 0px rgba(112, 112, 112, 0.5);
    
    background-color: white;
    position: fixed;
    top: 0px;

}



.DashboardNav .iconHam{
    display: none;
    height: 40px;
    padding: 0 0;
}

.DashboardNav .NavIconList {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    margin: 0 0;
    padding: 0 0;

}


.DashboardNav .NavIconList li{
    list-style: none ;
    height: 40px;
    width: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.DashboardNav .icon{
    height: 80%;
    width: 80%;
}

.DashboardNav a{
    width: 100%;
    height: 100%;
}

.DashboardNav .profilePic{

    font-family: 'Montserrat';
    color: #172B4D;
    font-weight: 600;

    border-radius: 100%;
    background-color: rgb(212, 212, 212);
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0;
}



.DashboardNav .NavIconList li .textGuide{
    display: none;
}



@media (max-width : 430px){

    .DashboardNav .iconHam{
        display: flex;
    }
    
    .DashboardNav .NavIconList{
        display: none;
    }

}