.generalKanbanCompCont::-webkit-scrollbar {
    width: 4px;
}

.generalKanbanCompCont::-webkit-scrollbar:horizontal {
    height: 8px;
}

.generalKanbanCompCont::-webkit-scrollbar-thumb {
    @apply bg-rose-900 rounded-xl;
}


.TaskContainerCard::-webkit-scrollbar {
    width: 4px;
}

.TaskContainerCard::-webkit-scrollbar:horizontal {
    height: 8px;
}

.TaskContainerCard::-webkit-scrollbar-thumb{
    @apply bg-sky-500 rounded-xl;
    @apply bg-rose-900 rounded-xl;
}


.ColumnContainer{
    transition: background-color 0.2s ease-in, border 0.2s ease-in;
}

.TaskContainerCard{
   transition: none;
}


.ColumnContentTasks::-webkit-scrollbar {
    width: 4px;
}

.ColumnContentTasks::-webkit-scrollbar:horizontal {
    height: 8px;
}

.ColumnContentTasks::-webkit-scrollbar-thumb{
    @apply bg-sky-500 rounded-xl;
    @apply bg-rose-900 rounded-xl;
}