.DashboardProjectContainer{
    display: flex;
    height: max(auto,100%);
}

.ProjectSidebar{
    /* Ponemos 123 porque es la suma entre heights de Navbar y SecondNavbar */
    height: 100%;
    width: 310px;
    min-width: 0px;
    overflow: auto;
    background-color: #F5F5F5;

    font-size: 1.3rem;
    padding: 1.5rem 1.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    font-family: 'Montserrat', sans-serif;

    transition: width 0.3s ease-in-out;

}

.ProjectSidebar .headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
}

.ProjectSidebar .SidebarHeader{
    font-size: 2rem;
    font-weight: 600;
    color: #172B4D;
}

.ProjectSidebar .dates{
    font-size: 1rem;
    color: #767676;
}

.ProjectSidebar .teamContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ProjectSidebar .teamContainer .teamHeader{
    font-size: 1.2rem;
    color: #767676;
}

.ProjectSidebar .teamContainer .teamName{
    font-size: 1.2rem;
    color: #000000;

    background-color: #8DFFA6;
    border-radius: 10px;
    padding: 0 1.3rem;
}


.ProjectSidebar .btnOpenSidebar{
    background-color: #F0AE19;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    position: absolute;
    left: 14px;
    top: 155px;
    transition: left 0.3s ease-in-out;
}


.ProjectSidebar .members{
    list-style: none;

    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
}


/*=============== STYLES OF MemberIcon ===============*/
.memberContainer{
    display: flex;
}

.memberContainer .memberIcon{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
/*=============== STYLES OF FoldButton ===============*/

.closedSidebar {
    left: 0;
    width: 25px; /* width of the button */
    overflow: hidden;
}

.openSidebar {
    width: 310px; /* original width of the sidebar */
}

.openSidebar .btnOpenSidebar {
    left: 255px; /* move the button next to the text when open */
}

.closedSidebar .header,
.closedSidebar .dates,
.closedSidebar .teamContainer,
.closedSidebar .members,
.closedSidebar .DropDownMenu{
    display: none
}

.closedSidebar .triangle{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}

.openSidebar .triangle{
    transition: transform 0.5s ease-in-out;
}


.ProjectSidebar .btnOpenSidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff; /* Change this to any color you prefer for the < character */
}

.customArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    display: block;
    border-width: 6px 9px 6px 0;
    border-color: transparent #fff transparent transparent;
    margin-right: 2px;
}

.triangle-blue {

    width: 0;
    height: 0;
    border-style: solid;
    display: block;
    border-width: 6px 9px 6px 0;
    border-color: transparent #172B4D transparent transparent;
    margin-right: 2px;
}

/*=============== STYLES OF DropDownMenu ===============*/
.DropDownMenu{
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(212, 212, 212);

    border-radius: 10px;

}

.DropDownMenu .DropTitleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: white;

    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
    border-radius: 8px;

    cursor:pointer
}


.DropDownMenu .DropTitleContainer .DropTitleLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.DropDownMenu .DropTitle{
    font-size: 1.2rem;  
}

.DropDownMenu .DropIconLeft{
    width: 22px;
    height: 22px;
    margin: 0 .5rem; 
}

.DropDownMenu .DropIconRight{
    width: 22px;
    height: 22px;
    margin: 0 .3rem;
}

.DropDownMenu .ItemsContainer{
    max-height: 0;
    overflow: hidden;
    transition: all 0.1s ease;
    
}

.DropDownMenu .ItemsContainer.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.1s ease;
    
}

.DropDownMenu .ItemsContainer .DropDownItem{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 1.2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;

    border-radius: 7px;

     
}

.DropDownMenu .ItemsContainer .DropDownItem:hover{
    background-color: #dad9d8;
}   

.DropDownMenu .ItemsContainer .DropDownItem img{
    width: 18px;
    height: 18px;

    margin: 0 .3rem;
}

.DropDownMenu .ItemsContainer .DropDownItem p{
    font-size: 1rem;
}



.DropDownMenu.active .ItemsContainer{
    display: flex;
    flex-direction: column;
}