.newMeetingArticle{
  /* Aplica un padding de 20px a los lados */
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño total */

  font-family: Montserrat, serif;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 0 2rem;
  align-self: center;
}

.header{
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  font-family: Montserrat;
}

.title{
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  color: #172B4D;
  font-weight: 700;
  font-family: Montserrat;
}

#datetimePicker {
  width: 300px; /* Personaliza el ancho según tus necesidades */
  height: 50px; /* Personaliza la altura según tus necesidades */
   /* Agrega un borde de 1 píxel sólido con color gris (#ccc) */
  border-radius: 15px; /* Agrega esquinas redondeadas */
  background-color: #f7f7f7;
  color: #333;
  margin: 5px 0;
  padding: 0.8rem;
  transition: background-color 0.1s;
}

#datetimePicker:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo en hover */
}

#datePicker {
  width: 200px; /* Personaliza el ancho según tus necesidades */
  height: 50px; /* Personaliza la altura según tus necesidades */
   /* Agrega un borde de 1 píxel sólido con color gris (#ccc) */
  border-radius: 15px; /* Agrega esquinas redondeadas */
  background-color: #f7f7f7;
  color: #333;
  margin: 5px 0;
  margin-right: 1.5rem;
  padding: 0.8rem;
  transition: background-color 0.1s;
}

#datePicker:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo en hover */
}

#timePicker {
  width: auto; /* Personaliza el ancho según tus necesidades */
  height: 50px; /* Personaliza la altura según tus necesidades */
   /* Agrega un borde de 1 píxel sólido con color gris (#ccc) */
  border-radius: 15px; /* Agrega esquinas redondeadas */
  background-color: #f7f7f7;
  color: #333;
  margin: 5px 0;
  padding: 0.8rem;
  transition: background-color 0.1s;
}

#timePicker:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo en hover */
}

/*
.addButton {
    background-color: #F0AE19;
    border: none;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  */
  /*
  .plus {
    font-size: 24px; /* Ajusta el tamaño de fuente según tus necesidades *//*
    font-weight: bold;
    color: white; /* Cambia el color del "+" si es necesario */ /*
  }

.h3 {
  padding: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #172B4D;
  font-family: 'Montserrat', sans-serif;
}

*/
  