.mainDivPresupuesto{
    flex: 1;
    font-family: Montserrat;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1.75rem 3.5rem;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
}

.presupuesto{
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap:1.75rem;

}

.titlePresupuesto{
    display: flex;
    font-size: 30px;
    
    font-family: Montserrat;
    font-weight: bold;
    padding-top: 10px;


    color: #172B4D;
    font-style: normal;

   
}

.subtitlePresupuesto{
    font-size: 25px;
    
    font-family: Montserrat;
    font-weight: bold;
    padding-top: 10px;


    color: #172B4D;
    font-style: normal;

}

.buttonsPresu{
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    max-height: 40px;
}

.btnCommon {
    font-size: 0.8rem;
    font-weight: 600;
    height: 29px;
    width: 100px;
    color: white;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.btnFlujo{

    background-color: #FF9929;
    border: 1px solid #FF9929;
}

.btnHistorial {
    background-color: #4369CC;
    border: 1px solid #4369CC;
}

.btnIngreso {
    background-color: #16C78E;
    border: 1px solid #16C78E;
}

.btnEgreso {
    background-color: #E2284D;
    border: 1px solid #E2284D;
}

.btnEstimacion {
    background-color: #41B9E4;
    border: 1px solid #41B9E4;
}

.btnSelected{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}



.btnCommon:not(.btnDisabled):hover,
.btnFlujo:not(.btnDisabled):hover,
.btnHistorial:not(.btnDisabled):hover,
.btnIngreso:not(.btnDisabled):hover,
.btnEgreso:not(.btnDisabled):hover,
.btnEstimacion:not(.btnDisabled):hover {
    cursor: pointer;
    opacity: 0.8;
}


.btnExportPresupuesto{
    border-radius: 10px;
    background-color: #29C85F;
    border: #29C85F 1px solid;
    font-size: 0.8rem;
    font-weight: 600;
    height: 36px;
    width: 130px;
    color: white;
    margin-left: auto;
}

.btnExportPresupuesto:hover{
    cursor: pointer;
    opacity: 0.8;
}

.highlighted-row {
    font-weight: bold; /* Hace que el texto sea más audaz */
    color: #FF0000; /* Cambia el color del texto a rojo */
  }

.btnAddIngreso{

    border-radius: 10px;
    background-color: #F0AE19;
    border: #F0AE19 1px solid;
    font-size: 0.8rem;
    font-weight: 600;
    height: 36px;
    width: 140px;
    color: white;
    margin-left: auto;


}

.btnAddIngreso:hover{
    cursor: pointer;
    opacity: 0.8;
}


.btnEditarEstimacion{
    border-radius: 10px;
    background-color: #1962F0;
    border: #1962F0 1px solid;
    font-size: 0.8rem;
    font-weight: 600;
    height: 36px;
    width: 130px;
    color: white;
    margin-left: auto;

}

.btnEditarEstimacion:hover{
    cursor: pointer;
    opacity: 0.8;
}

.btnEditEstimacion{

    border-radius: 10px;
    background-color: #1962F0;
    border: #1962F0 1px solid;
    font-size: 0.8rem;
    font-weight: 600;
    height: 36px;
    width: 150px;
    color: white;
    margin-left: auto;


}

.btnAddEgreso{

    border-radius: 10px;
    background-color: #F0AE19;
    border: #F0AE19 1px solid;
    font-size: 0.8rem;
    font-weight: 600;
    height: 36px;
    width: 200px;
    color: white;
 
    justify-content: center;

}

.btnAddEgreso:hover{
    cursor: pointer;
    opacity: 0.8;
}

.btnFiltro{
    border-radius: 10px;
    background-color: #1962F0;
    border: #1962F0 1px solid;
    font-size: 0.8rem;
    font-weight: 600;
    height: 36px;
    width: 140px;
    color: white;
    margin-left: auto;

}

.btnFiltro:hover{
    cursor: pointer;
    opacity: 0.8;
}


.divFiltroPresupuesto{

    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: flex-start;
    gap: 5%;
    
}

#inputDatePresupuesto{
    width: 70%;

    height: 40px;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
    border-radius: 4px;
    padding: 0 .4rem;

    resize: none;
    font-family: 'Montserrat';
    padding: 8px 16px;

    border-radius: 5px;
    border: 2px solid var(--color-border-input, rgba(9, 30, 66, 0.14));

}

.txtFechaPresu{

    color: #626F86;
    font-weight: 600;
    align-content: center;
    margin: 0; /* Elimina el margen vertical (espacio por defecto) */
    font-size: 14px;

}

.buttonContainer{
    display: flex;
    align-items: center; /* Alinea verticalmente si es necesario */
    gap: 2rem;
}

.buttonContainerEstimacionTabla{
    display: flex;
    align-items: center; /* Alinea verticalmente si es necesario */
    gap: 2rem;
    margin-left:auto;
}

.nombreProyecto{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;

}



.comboBoxMoneda {
    flex: 1; /* Allow the combo box to grow and take available space */
    transform: translateY(-9%);
    z-index: 2;

}

/* Adjust Input styles as needed */
.modalPresupuestoTitulos{
    margin-top: 15px;
    padding-left: 6px;
    display: flex; /* Make it a flex container */
    align-items: center; /* Vertically center the children */
    gap: 13rem;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.alertMoneda{

    position: absolute; /* Añade esta línea para establecer una posición absoluta en el elemento de alerta */
    top: 69%; /* Añade es7ta línea para colocar las alertas justo debajo del combo box */
    z-index: 1; /* Asegura que las letras estén por debajo del combo box */
    left: 25px;
    
}

.divHistorial {
    height: 50vh; /* Establece la altura al 100% de la altura de la ventana */
    overflow-y: auto;
}

.divHistorial::-webkit-scrollbar {
    width: 8px;
}

.divHistorial::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.divHistorial::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
}


.containerData {
    display: flex;
    justify-content: space-between;
}

.titleBalance {
    font-size: 30px;
    
    font-family: Montserrat;
    font-weight: bold;


    color: #172B4D;
    font-style: normal;
}
.dataBalance {
    
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}
.titleBalanceData {
    font-size: 15px;
    font-family: Montserrat;
    font-weight: bolder;
    color: #172B4D;
    font-style: normal;
    margin: 0;
    padding: 5px 0;
}

.valueBalance {
    font-size: 15px;
    
    font-family: Montserrat;
    font-weight: bolder;
    color: #172B4D;
    font-style: normal;
    margin: 0;
    padding: 8px 0;
}
.textBalance {
    width: 90%;
}
.containerHeader{
    display: inline-flex;
    justify-content: space-between;
    
    max-height: 40px;

    align-items: center;
}

.conceptoCell{
    color: #172B4D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    background-color: #DDDADA;

}

.positiveTotal {
    color: #46bf4a; /* Verde menos brillante */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    background-color: #DDDADA;

  }
  
  .negativeTotal {
    color: #FF5555; /* Rojo menos brillante */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    background-color: #DDDADA;

  }

.descripcionIngEg{

    color: #172B4D;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    width: 20rem;

}

.IngEgTexto{
    color: #172B4D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;

}

.Meses{
    color: #172B4D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    

}

.Totales{
    color: #172B4D;
    font-family: Roboto;
    font-weight: 800;
    font-size: 15px;

}
.EstimaconceptoCell{
    color: #172B4D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;

}
.descriptionCell{
    color: #172B4D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;

}

.totalconceptoCell{
    color: #172B4D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;

}
